.header
    border-bottom: 1px solid $c-lite-another
    &__inner
        min-height: 80px
        display: grid
        grid-template-columns: 1fr repeat(2, auto)
        align-items: center
        column-gap: 60px
    &__logo
        display: flex
        justify-self: start
        padding-block: 10px
    &__action-button
        padding: 8px

.nav
    &__list
        @include flex(60px)
    &__link
        padding-block: 10px
        display: block

.actions
    @include flex(30px)
