.header
    border-bottom: 1px solid $c-lite-another
    &__inner
        min-height: 80px
        display: grid
        grid-template-columns: 1fr repeat(2, auto)
        align-items: center
        column-gap: 60px
    &__logo
        display: flex
        justify-self: start
        padding-block: $padding-block-logo
    &__action-button
        padding: 8px

.nav
    &__list
        @include flex(60px)
    &__link
        padding-block: 10px
        display: block

.actions
    @include flex(30px)

.mobile-menu
    padding: 15px
    background-color: $c-lite-extra
    height: calc( 100vh - $height-block-logo )
    width: 100%
    position: absolute
    top: $height-block-logo
    left: 0
    z-index: 100
    overflow-y: auto
    &__action-button
        padding: 6px
    &__list
        margin-top: 22px
        @include flex-column(30px)
        align-items: flex-start
    &__link
        padding-block: 10px
        display: block
        font-size: 18px

.billboard
    &__inner
        padding-block: 130px
        background: url('../img/twisted-paper.png') right 60px/50% no-repeat
    &__body
        max-width: 445px
        @include flex-column(30px)
        align-items: flex-start

.quality
    padding-block: 90px
    &__inner
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 90px 30px

.paper-card
    @include flex(16px, space-between,flex-start)
    padding-top: 20px
    border-top: 1px solid $c-medium-extra
    &_big
        grid-column: 1 / -1
        border: none
        padding-top: 0
    &__body
        margin-block: auto
        &_column
            @include flex-column(20px)
    &__img
        height: auto
        &_big
            @include fluid-block(330, 730)

.other-products
    padding-block: 90px
    &__inner
        display: grid
        grid-template-columns: repeat(4, 1fr)
        column-gap: 30px

.other-products-card
    @include flex-column(20px)
    justify-content: space-between
    &__body
        @include flex-column(8px)
    &__img-box
        height: 180px
        background-color: $c-lite-extra
        background-repeat: no-repeat
        background-position-x: center
        &_container
            background-image: url('../img/container.png')
            background-position-y: 22px
            background-size: 120%
        &_bag
            background-image: url('../img/bag.png')
            background-position-y: 12px
        &_case
            background-image: url('../img/case.png')
            background-position: 12px 12px
        &_other
            background-image: url('../img/other-2.png'), url('../img/other-1.png')
            background-position: right 8px, left 20px

.partners
    padding-block: 90px
    &__inner
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 30px
    &__logo
        max-width: 255px
        aspect-ratio: 1.8888 / 1
        @include flex(0, center)
        border: 1px solid $c-medium-extra
        padding-inline: 8px