@media (max-width: 1024px)

    .title
        font-size: 50px

    .subtitle
        font-size: 30px

    .header
        & > .container
            display: contents
        &__inner
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, auto)
            gap: 0
        &__logo
            margin: $margin-block-logo 0 $margin-block-logo $padding-inline-desctop

    .nav
        padding: 10px $padding-inline-desctop
        order: 1
        grid-column: 1 / -1
        border-top: 1px solid $c-lite-another
        &__list
            gap: 12px
            justify-content: space-between

    .actions
        margin-right: $padding-inline-desctop
        justify-self: flex-end

    .billboard
        &__inner
            padding-block: 65px
            background-size: 40%
        &__body
            max-width: 390px

    .quality, .other-products, .partners
        padding-block: 60px

    .paper-card
        flex-direction: column
        &_big
            flex-direction: row

    .other-products
        &__inner
            grid-template-columns: repeat(2, 1fr)
            row-gap: 60px

    .other-products-card
        &__img-box
            &_container
                background-size: 100%
            &_case
                background-position: center 12px
            &_other
                background-position: 60% 8px, 40% 20px

@media (max-width: 689px)

    .container
        padding-inline: $padding-inline-tablet

    .title
        font-size: 38px

    .subtitle
        font-size: 24px

    .heading
        font-size: 24px
        &_small
            font-size: 16px

    .text
        font-size: 16px

    .button
        min-width: 196px

    .header
        &__logo
            margin-left: $padding-inline-tablet

    .nav
        padding: 8px $padding-inline-tablet

    .actions
        margin-right: $padding-inline-tablet

    .billboard
        &__inner
            padding-block: 60px
            background-position: right 100px
            background-size: 35%
        &__body
            max-width: 288px

    .paper-card
        &_big
            flex-direction: column
            row-gap: 20px

    .other-products
        &__inner
            row-gap: 40px

    .partners
        &__inner
            grid-template-columns: repeat(2, 1fr)

@media (max-width: 509px)

    .container
        padding-inline: $padding-inline-mobile

    .title
        font-size: 30px

    .text
        &_mobile-small
            font-size: 14px

    .button
        font-size: 18px
        min-width: 144px

    .header
        &__inner
            grid-template-columns: 1fr
            grid-template-rows: repeat(2, auto)
        &__logo
            margin-inline: auto

    .nav
        display: none

    .actions
        margin-right: 0
        padding: 10px $padding-inline-mobile
        border-top: 1px solid $c-lite-another
        justify-self: stretch
        display: grid
        grid-template-columns: 1fr repeat(2, auto)
        justify-items: flex-start

    .action-button
        &_is-hidden
            display: flex

    .billboard
        &__inner
            padding-block: 50px
            background: none
        &__body
            max-width: 100%

    .quality
        &__inner
            grid-template-columns: 1fr
            gap: 20px

    .paper-card
        flex-direction: row
        &_big
            margin-top: 40px
            flex-direction: column
        &__img
            &_big
                width: 100%

    .other-products
        &__inner
            grid-template-columns: 1fr
            row-gap: 60px

    .partners
        overflow: hidden
        &__inner
            grid-template-columns: repeat(4, 1fr)
            scroll-snap-type: x mandatory
            overflow-x: scroll
        &__logo
            width: 150px
            scroll-snap-align: start
        