$site-width: 1110px
$padding-inline-desctop: 40px
$padding-inline-tablet: 32px
$padding-inline-mobile: 16px

$c-lite: #FFF
$c-lite-extra: #EBEBEB
$c-medium: #85859B
$c-dark: #4C5866
$c-dark-extra: #666666
$c-second-medium: #7875FE
$c-second-lite: #DAD9FB
$c-second-dark: #4946B4

$font-family: Roboto, sans-serif

