@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/**
 * Нормализация блочной модели
 * */
*, ::before, ::after {
  box-sizing: border-box;
}

/**
 * Убираем внутренние отступы слева тегам списков,
 * у которых есть атрибут class
 * */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
 * Убираем внешние отступы body и двум другим тегам,
 * у которых есть атрибут class
 * */
body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
 * Убираем внешние отступы вертикали нужным тегам,
 * у которых есть атрибут class
 * */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
 * Убираем стандартный маркер маркированному списку,
 * у которого есть атрибут class
 * */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
 * Обнуляем вертикальные внешние отступы параграфа
 * */
p {
  margin-block: 0;
}

/**
 * Упрощаем работу с изображениями
 * */
img {
  display: block;
  max-width: 100%;
}

/**
 * Наследуем свойства шрифт для полей ввода
 * */
input, textarea, select, button {
  font: inherit;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
html {
  height: 100%;
}

/**
 * Плавный скролл
 * */
html,
:has(:target) {
  scroll-behavior: smooth;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
/**
 * Унифицированный интерлиньяж
 * */
body {
  min-height: 100%;
  line-height: 1.5;
}

/**
 * Приводим к единому цвету svg-элементы
 * */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 * Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 * */
svg * {
  transition-property: fill, stroke;
}

/**
 * Удаляем все анимации и переходы для людей,
 * которые предпочитают их не использовать
 * */
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Упрощаем работу с ссылками
 * */
a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/**
 * Сбрасываем стандартные стили кнопакам, у которых есть класс
 * */
:where(button[class]) {
  background-color: transparent;
  border: none;
}

/**
 *  убираем стандартную фокус-линию
 *  */    
:where(a, button) {
  outline: none;
}

:where(a, button):focus-visible {
  background-color: #DAD9FB;
}

:where(a, button) {
  transition: all 0.3s;
}

html {
  scrollbar-gutter: stable;
}

.overflow-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.is-hidden {
  display: none !important;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #FFF;
  color: #85859B;
}

.container {
  max-width: 1190px;
  padding-inline: 40px;
  margin-inline: auto;
}

.title {
  font-size: 60px;
  color: #4C5866;
  line-height: 1;
}

.subtitle {
  font-size: 40px;
  color: #666666;
  line-height: 1;
}

.heading {
  font-size: 30px;
  line-height: 1.16;
  color: #666666;
}
.heading_small {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.text {
  font-size: 18px;
  line-height: 1.7;
}
.text_l-height_small {
  line-height: 1.5;
}
.text_mini {
  font-size: 14px;
  line-height: 1.14;
}

.button {
  min-width: 255px;
  color: #7875FE;
  font-size: 20px;
  padding: 20px 50px;
  border: 1px solid #7875FE;
  transition: all 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background-color: #7875FE;
    color: #FFF;
  }
}
.button:active {
  color: #FFF;
  background-color: #4946B4;
  border-color: #4946B4;
}

.action-button {
  display: flex;
}
@media (hover: hover) {
  .action-button:hover {
    color: #7875FE;
  }
}
.action-button:active {
  color: #4946B4;
}
.action-button_is-hidden {
  display: none;
}

.link {
  color: #4C5866;
  font-size: 20px;
  line-height: 1.15;
}
@media (hover: hover) {
  .link:hover {
    color: #7875FE;
  }
}
.link:active {
  color: #4946B4;
}
.link_color_second {
  color: #7875FE;
}
@media (hover: hover) {
  .link_color_second:hover {
    color: #4946B4;
  }
}

main > section:nth-of-type(even) {
  background-color: #EBEBEB;
}

.header {
  border-bottom: 1px solid #DDD;
}
.header__inner {
  min-height: 80px;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__logo {
  display: flex;
  justify-self: start;
  padding-block: 10px;
}
.header__action-button {
  padding: 8px;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.nav__link {
  padding-block: 10px;
  display: block;
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.mobile-menu {
  padding: 15px;
  background-color: #EBEBEB;
  height: calc(100vh - 47px);
  width: 100%;
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 100;
  overflow-y: auto;
}
.mobile-menu__action-button {
  padding: 6px;
}
.mobile-menu__list {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
}
.mobile-menu__link {
  padding-block: 10px;
  display: block;
  font-size: 18px;
}

.billboard__inner {
  padding-block: 130px;
  background: url("../img/twisted-paper.png") right 60px/50% no-repeat;
}
.billboard__body {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
}

.quality {
  padding-block: 90px;
}
.quality__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px 30px;
}

.paper-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 20px;
  border-top: 1px solid #C0C0C0;
}
.paper-card_big {
  grid-column: 1/-1;
  border: none;
  padding-top: 0;
}
.paper-card__body {
  margin-block: auto;
}
.paper-card__body_column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.paper-card__img {
  height: auto;
}
.paper-card__img_big {
  width: clamp(330px, 50.6944444444vw, 730px);
}

.other-products {
  padding-block: 90px;
}
.other-products__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.other-products-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}
.other-products-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.other-products-card__img-box {
  height: 180px;
  background-color: #EBEBEB;
  background-repeat: no-repeat;
  background-position-x: center;
}
.other-products-card__img-box_container {
  background-image: url("../img/container.png");
  background-position-y: 22px;
  background-size: 120%;
}
.other-products-card__img-box_bag {
  background-image: url("../img/bag.png");
  background-position-y: 12px;
}
.other-products-card__img-box_case {
  background-image: url("../img/case.png");
  background-position: 12px 12px;
}
.other-products-card__img-box_other {
  background-image: url("../img/other-2.png"), url("../img/other-1.png");
  background-position: right 8px, left 20px;
}

.partners {
  padding-block: 90px;
}
.partners__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.partners__logo {
  max-width: 255px;
  aspect-ratio: 1.8888/1;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0;
       column-gap: 0;
  border: 1px solid #C0C0C0;
  padding-inline: 8px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 30px;
  }
  .header > .container {
    display: contents;
  }
  .header__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0;
  }
  .header__logo {
    margin: 2px 0 2px 40px;
  }
  .nav {
    padding: 10px 40px;
    order: 1;
    grid-column: 1/-1;
    border-top: 1px solid #DDD;
  }
  .nav__list {
    gap: 12px;
    justify-content: space-between;
  }
  .actions {
    margin-right: 40px;
    justify-self: flex-end;
  }
  .billboard__inner {
    padding-block: 65px;
    background-size: 40%;
  }
  .billboard__body {
    max-width: 390px;
  }
  .quality, .other-products, .partners {
    padding-block: 60px;
  }
  .paper-card {
    flex-direction: column;
  }
  .paper-card_big {
    flex-direction: row;
  }
  .other-products__inner {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }
  .other-products-card__img-box_container {
    background-size: 100%;
  }
  .other-products-card__img-box_case {
    background-position: center 12px;
  }
  .other-products-card__img-box_other {
    background-position: 60% 8px, 40% 20px;
  }
}
@media (max-width: 689px) {
  .container {
    padding-inline: 32px;
  }
  .title {
    font-size: 38px;
  }
  .subtitle {
    font-size: 24px;
  }
  .heading {
    font-size: 24px;
  }
  .heading_small {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .button {
    min-width: 196px;
  }
  .header__logo {
    margin-left: 32px;
  }
  .nav {
    padding: 8px 32px;
  }
  .actions {
    margin-right: 32px;
  }
  .billboard__inner {
    padding-block: 60px;
    background-position: right 100px;
    background-size: 35%;
  }
  .billboard__body {
    max-width: 288px;
  }
  .paper-card_big {
    flex-direction: column;
    row-gap: 20px;
  }
  .other-products__inner {
    row-gap: 40px;
  }
  .partners__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 509px) {
  .container {
    padding-inline: 16px;
  }
  .title {
    font-size: 30px;
  }
  .text_mobile-small {
    font-size: 14px;
  }
  .button {
    font-size: 18px;
    min-width: 144px;
  }
  .header__inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .header__logo {
    margin-inline: auto;
  }
  .nav {
    display: none;
  }
  .actions {
    margin-right: 0;
    padding: 10px 16px;
    border-top: 1px solid #DDD;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    justify-items: flex-start;
  }
  .action-button_is-hidden {
    display: flex;
  }
  .billboard__inner {
    padding-block: 50px;
    background: none;
  }
  .billboard__body {
    max-width: 100%;
  }
  .quality__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .paper-card {
    flex-direction: row;
  }
  .paper-card_big {
    margin-top: 40px;
    flex-direction: column;
  }
  .paper-card__img_big {
    width: 100%;
  }
  .other-products__inner {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
  .partners {
    overflow: hidden;
  }
  .partners__inner {
    grid-template-columns: repeat(4, 1fr);
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  .partners__logo {
    width: 150px;
    scroll-snap-align: start;
  }
}/*# sourceMappingURL=style.css.map */